---
title: Configuring BOSH Director on Azure Manually
owner: Ops Manager
iaas: Azure
---

<html class="list-style-none"></html>

This topic describes how to configure the BOSH Director tile within Ops Manager on Azure after [Deploying Ops Manager on Azure Manually](./deploy-manual.html).


## <a id="prerequisites"></a> Prerequisites

See the following sections to prepare for configuring BOSH Director on Azure.

### <a id="general-prereqs"></a> General Prerequisites

Before you perform the procedures in this topic, you must have completed the procedures in the following topics:

* [Preparing to Deploy Ops Manager on Azure Manually](prepare-env-manual.html)
* [Deploying Ops Manager on Azure Manually](deploy-manual.html)

<p class="note"><strong>Note:</strong> You can also perform the procedures in this topic using the Ops Manager API. For more information, see the <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/ops-man-api.html">Using the Ops Manager API</a> topic.</p>

### <a id="stack-gov-prereqs"></a> Prerequisites for Azure Stack or Azure Government Cloud

If you use Azure Government Cloud, you must set custom VM types for a successful deployment. You can set custom VM types with the Ops Manager API. For more information, see [Using the Ops Manager API](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/ops-man-api.html).

Example `curl` command to set a VM types:

<pre class="terminal">
$ curl -k https://YOUR-OPS-MAN-FQDN/api/v0/vm_types -X
PUT -H "Authorization: bearer UAA-ACCESS-TOKEN"
"Content-Type: application/json" -d '{"vm_types":[
{"name": "Standard_D1_v2", "ram": 3584, "cpu": 1, "ephemeral_disk": 51200 },
{"name": "Standard_D2_v2", "ram": 7168, "cpu": 2, "ephemeral_disk": 102400 },
{"name": "Standard_D3_v2", "ram": 14336, "cpu": 4, "ephemeral_disk": 204800 },
{"name": "Standard_D4_v2", "ram": 28672, "cpu": 8, "ephemeral_disk": 409600 },
{"name": "Standard_D5_v2", "ram": 57344, "cpu": 8, "ephemeral_disk": 819200 },
{"name": "Standard_D11_v2", "ram": 14336, "cpu": 2, "ephemeral_disk": 102400 },
{"name": "Standard_D12_v2", "ram": 28672, "cpu": 4, "ephemeral_disk": 204800 },
{"name": "Standard_D13_v2", "ram": 57344, "cpu": 8, "ephemeral_disk": 409600 },
{"name": "Standard_D14_v2", "ram": 114688, "cpu": 16, "ephemeral_disk": 819200 },
{"name": "Standard_F1", "ram": 2048, "cpu": 1, "ephemeral_disk": 16384 },
{"name": "Standard_F2", "ram": 4096, "cpu": 2, "ephemeral_disk": 32768 },
{"name": "Standard_F4", "ram": 8192, "cpu": 4, "ephemeral_disk": 65536 },
{"name": "Standard_F8", "ram": 16384, "cpu": 8,  "ephemeral_disk": 131072}]}'
</pre>

To verify that you have successfully set your custom VM types, use the `GET /api/v0/vm_types` Ops
Manager API endpoint.


## <a id='access-om'></a> Step 1: Access Ops Manager

1. In a web browser, navigate to the fully qualified domain name (FQDN) of Ops Manager that you created in [Deploying Ops Manager on Azure Manually](deploy-manual.html).

1. When Ops Manager starts for the first time, you must choose one of the following:
    * [Internal Authentication](#internal): If you use Internal Authentication, Ops Manager maintains your user database.
    * [SAML Identity Provider](#saml): If you use a SAML Identity Provider (IdP), an external identity server maintains your user database.
    * [LDAP Server](#ldap): If you use a LDAP Server, an external identity server maintains your user database.

### <a id='internal'></a> Internal Authentication

1.  When redirected to the **Internal Authentication** page, do the following:
    * Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    * Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
    * If you are using an **HTTP proxy** or **HTTPS proxy**, follow the instructions in [Configuring Proxy Settings for the BOSH CPI](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/pcf-director-proxy-settings.html).
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.
    * Click **Setup Authentication**.

1. Log in to Ops Manager with the Admin username and password you created in the previous step.

### <a id='saml'></a> SAML Identity Provider

<%= partial '../common/using_saml_idp_ops_manager' %>

### <a id='ldap'></a> LDAP Server

<%= partial '../common/using_ldap_server_ops_manager' %>


## <a id='azure-config'></a> Step 2: Azure Config Page

1. Click the **BOSH Director** tile.

1. Select **Azure Config**.

    <%= image_tag("../common/images/azure/azure-config.png", :alt => "At the top of the image is the header 'BOSH Director for Azure', below which are three tabs in a horizontal row labeled 'Settings', 'Status', and 'Credentials'. The Settings tab is highlighted in light gray to show that it is selected, while the others are dark gray. Below the Settings tab is a list of panes on the left labeled, from top to bottom: 'Azure Config', 'Director Config', 'Create Networks', 'Assign AZs and Networks', 'Security', 'BOSH DNS Config', 'Syslog', and 'Resource Config'. Each pane has a green circle with a checkmark inside to the left of its label. Azure Config is highlighted in dark gray to show that it is selected. To the right of the image is the header 'Azure Config', below which are text fields labeled, from top to bottom: 'Subscription ID', 'Tenant ID', 'Application ID', 'Client Secret', 'Resource Group Name', and 'BOSH Storage Account Name'. All of these fields are marked with red asterisks to denote that they are mandatory fields. The 'Client Secret' field contains eight asterisks, while the word 'Change' in blue letters is underneath the text field. Below 'BOSH Storage Account Name' are the words 'Cloud Storage Type' with two options underneath: a selected radio button labeled 'Use Managed Disks', below which is a dropdown labeled 'Storage Account Type' with 'Premium_LRS' selected; and a radio button labeled 'Use Storage Accounts', below which is a grayed-out text field labeled 'Deployments Storage Account Name'. Below this are more text fields, labeled 'Default Security Group' and 'SSH Public Key', the latter of which has a red asterisk. Next is a text area labeled 'SSH Private Key' with a red asterisk. Below the text area are the words 'Availability Mode' with two options underneath: a radio button labeled 'Availability Sets' and a selected radio button labeled 'Availability Zones'. Below these are the words 'Azure Environment' with five options underneath: a selected radio button labeled 'Azure Commercial Cloud', and four more radio buttons labeled, from top to bottom, 'Azure US Gov Cloud', 'Azure Germany Cloud', 'Azure China Cloud', and 'Azure Stack'. Below 'Azure Stack' are several grayed-out text fields and one text area, labeled, from top to bottom: 'Tenant Management Resource Endpoint', 'Domain', 'Authentication', 'Azure Stack Endpoint Prefix', and 'Azure Stack CA Certificate'. All of these have red asterisks to denote they are mandatory fields when the 'Azure Stack' option is selected. Below the 'Azure Stack CA Certificate' text area is a blue, rectangular button labeled 'Save'.") %>

1. Complete the following fields with information you obtained in [Preparing to Deploy Ops Manager on Azure Manually](./prepare-env-manual.html).
	* **Subscription ID**: Enter the ID of your Azure subscription.
	* **Tenant ID**: Enter your `TENANT_ID`.
	* **Application ID**: Enter the `APPLICATION_ID` that you created in the [Create an AAD Application](./prepare-env-manual.html#create-aad) step of _Preparing to Deploy Ops Manager on Azure Manually_.
	* **Client Secret**: Enter your `CLIENT_SECRET`.

1. Complete the following fields:
	* **Resource Group Name**: Enter the name of your resource group, which you exported as the `$RESOURCE_GROUP` environment variable.
	* **BOSH Storage Account Name**: Enter the name of your storage account, which you exported as the `$STORAGE_NAME` environment variable.

1. For **Cloud Storage Type**, select one of the following options based on your Azure VM storage settings.
	* **Use Managed Disks**: Select this option if you use Azure Managed Disks. See [Azure Managed Disks Overview](https://docs.microsoft.com/en-us/azure/storage/storage-managed-disks-overview) in the Microsoft documentation for more information. For **Storage Account Type**, select the storage option that corresponds with your Azure subscription. Select **Standard_LRS** for HDD-based storage or **Premium_LRS** for SSD-based storage.
        <%= image_tag("../common/images/azure/azure-managed-disk.png", :alt => "The words 'Cloud Storage Type' with two options underneath. The first option is a selected radio button labeled 'Use Managed Disks', below which is a dropdown labeled 'Storage Account Type' with 'Premium_LRS' selected. To the right of the dropdown is the help text 'Storage Account Type to use with managed disks'. The second option is a radio button labeled 'Use Storage Accounts', below which is a grayed-out text field labeled 'Deployments Storage Account Name'.") %>
	* **Use Storage Accounts**: Select this option if you use storage accounts to store your Azure VMs. Enter the base storage name that you used to create your deployment storage accounts, prepended and appended with the wildcard character `*`. For example, if you created accounts named  `xyzdeploymentstorage1`, `xyzdeploymentstorage2`, and `xyzdeploymentstorage3`, enter `*deploymentstorage*`. Ops Manager requires that you specify an asterisk at both the beginning and the end of the base storage account name.
        <%= image_tag("../common/images/azure/storage-accounts.png", :alt => "The selected radio button 'Use Storage Accounts', below which is a text field labeled 'Deployments Storage Account Name'. To the right of the text field is the help text 'A Storage Account into which Ops Manager will deploy other VMs. Name must contain only lower-case letters and numbers, may start AND end with an asterisk. Required if Cloud Storage Type is set to 'Storage Accounts'.'") %>
    <p class="note warning"><strong>WARNING:</strong> You can update your deployment from using storage accounts to using managed disks. However, after you select <strong>Use Managed Disks</strong> and deploy Ops Manager, you cannot change your deployment back to use storage accounts.</p>

1. (Optional) Enter your **Default Security Group**. For more information about Network Security Groups, see [Filter network traffic with network security groups](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg) in Microsoft Azure's documentation.
    <p class="note"><strong>Note:</strong> The Azure portal sometimes displays the names of resources with incorrect capitalization. Always use the Azure CLI to retrieve the correctly capitalized name of a resource.</p>

1. For **SSH Public Key**, copy and paste the contents of your public key in the `opsman.pub` file. You created this file in [Deploying Ops Manager on Azure Manually](deploy-manual.html).

1. For **SSH Private Key**, copy and paste the contents of your private key in the `opsman` file.

1. For **Availability Mode**, choose whether to use **Availability Sets** or **Availability Zones**. You can further configure this option in the **Assign AZs and Networks** pane. For more information, see [Assign AZs and Networks](#assign-networks).
   * **For new installations of Ops Manager v2.5**: **Availability Zones** are selected by default, but you can choose **Availability Sets**. 
   * **If you are upgrading from v2.4**: You must use **Availability Sets**. 
    <p class="note"><strong>Note:</strong> You can only choose between Availability Zones and Availability Sets in a staged BOSH Director tile that has not yet deployed. After you click <strong>Apply Changes</strong> and the BOSH Director deploys successfully, you cannot switch between Availability Zones and Availability Sets.</p>

1. <%= partial "../common/azure-environment" %>
    <p class="note"><b>Note: </b> To deploy PCF on Azure using Active Directory Federation Services (ADFS), select <b>Azure Stack</b>. For more information about ADFS for Azure, see <a href="https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html#adfs-auth-azure">ADFS Authentication Available for Microsoft Azure</a>.</p>

1. (Optional) If you selected `Azure Stack` for your **Azure Environment**, complete the following Azure Stack-only fields:
  1. For **Domain**, enter the domain for your Azure Stack deployment. For example, `local.azurestack.external`.
  1. Enter the **Tenant Management Resource Endpoint** from your AzureRM Environment Context. This URL changes with every ASDK installation.
  1. Enter `AzureAD` for **Authentication**. If you want to use Azure China Cloud Active Directory for your authentication type, enter `AzureChinaCloudAD`.
  1. Enter your **Azure Stack Endpoint Prefix**. For example `management`.
  1. Enter your **Azure Stack CA Certificate**. Azure Stack requires a custom CA certificate. Copy the certificate from your Azure Stack environment.

1. Click **Save**.


## <a id='director-config'></a> Step 3: Director Config Page

<%= partial "../common/director-config" %>

## <a id='network'></a> Step 4: Create Networks Page

Create the following three networks:

* [Infrastructure Network](#infrastructure-network)
* [Runtime Network](#runtime-network)
* [Services Network](#services-network)

<p class="note"><strong>Note:</strong> The Azure portal sometimes displays the names of resources with incorrect capitalization. Always use the Azure CLI to retrieve the correctly capitalized name of a resource.</p>

### <a id='infrastructure-network'></a> Infrastructure Network

To create the infrastructure network, do the following:

1. Select **Create Networks**.

1. (Optional) Select **Enable ICMP checks** if you want to enable ICMP on your networks. Ops Manager uses ICMP checks to confirm that components within your network are reachable.

1. Click **Add Network**. For name, enter `infrastructure`.

1. Under **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Network Name</th>
        <td><code>infrastructure</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-infrastructure-subnet</code>. You can use either
        the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.4.0/26</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.4.1-10.0.4.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.4.1</code>.</td>
      </tr>
    </table>
    <%= image_tag("../common/images/azure/create-networks-management.png", :alt => "At the top of the image is the header 'Create Networks' with a horizontal line underneath. Below the line are the words 'Warning: Pivotal recommends keeping the IP settings throughout the life of your installation. Ops Manager may prevent you from changing them in the future. Contact Pivotal support for help completing such a change.' Below this text is the header 'Verification Settings', below which is a checkbox labeled 'Enable ICMP checks'. After this checkbox is the header 'Networks', across from which is a gray, rectangular button labeled 'Add Network'. Below 'Networks' are the words 'One or many IP ranges upon which your products will be deployed'. Below this is a gray, rectangular button labeled 'infrastructure' with a small, downward-pointing triangle to the left of it, indicating an expandable area. The image of a gray trashcan is directly across from the 'infrastructure' button. Below the 'infrastructure' button is a text field labeled 'Name' with a red asterisk to denote that it is a mandatory field, filled with the text 'infrastructure'. Below this text field is subheader 'Subnets', across from which is a gray, rectangular button labeled 'Add Subnet'. Below the Subnets subheader are text fields labeled, from top to bottom, 'Azure Network Name' with a red asterisk, 'CIDR' with a red asterisk, 'Reserved IP Ranges', 'DNS' with a red asterisk, and 'Gateway' with a red asterisk. The Azure Network Name field contains the text 'pcf-virtual-network/pcf-infrastructure-subnet'. The CIDR field contains the text '10.0.4.0/26'. The Reserved IP Ranges field contains the text '10.0.4.1-10.0.4.9'. The DNS field contains the text '168.63.129.16'. The Gateway field contains the text '10.0.4.1'.") %>

1. Click **Save**.<%= vars.expand_network_azs %>

### <a id='runtime-network'></a> Runtime Network

To create the runtime network, do the following:

1. Click **Add Network**. For **Name**, enter the name of the runtime that you intend to deploy in this environment. For example, `pas` or `pks`.

1. Under **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Network Name</th>
        <td><code>pas</code> or <code>pks</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-pas-subnet</code> or
        <code>pcf-virtual-network/pcf-pks-subnet</code>, depending on your runtime. You can use
        either the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.12.0/22</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.12.1-10.0.12.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.12.1</code>.</td>
      </tr>
    </table>
    <%= image_tag("../common/images/azure/create-networks-deployment.png", :alt => "At the top of the image is a gray, rectangular button labeled 'pas' with a small, downward-pointing triangle to the left of it, indicating an expandable area. The image of a gray trashcan is directly across from the 'pas' button. Below the 'pas' button is a text field labeled 'Name' with a red asterisk to denote that it is a mandatory field, filled with the text 'pas'. Below this text field is the subheader 'Subnets', across from which is a gray, rectangular button labeled 'Add Subnet'. Below the Subnets subheader are text fields labeled, from top to bottom, 'Azure Network Name' with a red asterisk, 'CIDR' with a red asterisk, 'Reserved IP Ranges', 'DNS' with a red asterisk, and 'Gateway' with a red asterisk. The Azure Network Name field contains the text 'pcf-virtual-network/pcf-pas-subnet'. The CIDR field contains the text '10.0.12.0/22'. The Reserved IP Ranges field contains the text '10.0.12.1-10.0.12.9'. The DNS field contains the text '168.63.129.16'. The Gateway field contains the text '10.0.12.1'.") %>

1. Click **Save**.

### <a id='services-network'></a> Services Network

To create the services network, do the following:

1. Click **Add Network**. For **Name**, enter `services`.

1. Under **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Network Name</th>
        <td><code>services</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-services-subnet</code>. You can use
        either the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.8.0/22</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.8.1-10.0.8.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.8.1</code>.</td>
      </tr>
    </table>
    <%= image_tag("../common/images/azure/create-networks-services.png", :alt => "At the top of the image is a gray, rectangular button labeled 'services' with a small, downward-pointing triangle to the left of it, indicating an expandable area. The image of a gray trashcan is directly across from the 'services' button. Below the 'services' button is a text field labeled 'Name' with a red asterisk to denote that it is a mandatory field, filled with the text 'services'. Below this text field is the subheader 'Subnets', across from which is a gray, rectangular button labeled 'Add Subnet'. Below the Subnets subheader are text fields labeled, from top to bottom, 'Azure Network Name' with a red asterisk, 'CIDR' with a red asterisk, 'Reserved IP Ranges', 'DNS' with a red asterisk, and 'Gateway' with a red asterisk. The Azure Network Name field contains the text 'pcf-virtual-network/pcf-services-subnet'. The CIDR field contains the text '10.0.8.0/22'. The Reserved IP Ranges field contains the text '10.0.8.1-10.0.8.9'. The DNS field contains the text '168.63.129.16'. The Gateway field contains the text '10.0.8.1'.") %>

1. Click **Save**. If **Enable ICMP checks** is not selected, you may see red warnings. You can ignore these warnings.


## <a id='assign-networks'></a> Step 5: Assign AZs and Networks

<ol>
<li>Select <strong>Assign AZs and Networks</strong>.<br/>
  <p class="note"><strong>Note</strong>: The appearance of this page changes based on whether you are using Availability Zones or Availability Sets. For more information, see <a href="#azure-config">Azure Config Page</a>.</p>
    <ul>
    <li>If you use Availability Zones, select one of the three available zones from the <strong>Singleton Availability Zone</strong> dropdown, then select a network from the <strong>Networks</strong> dropdown. The networks that appear in this list are networks that you created earlier in this procedure.
    </li>
    <li>If you use Availability Sets, select a network from the <strong>Networks</strong> dropdown. The networks that appear in this list are networks that you created earlier in this procedure.</li>
    </ul>
  </li>
<li>Click <strong>Save</strong>.</li>  
</ol>


## <a id='security'></a> Step 6: Security Page

<%= partial "../common/security-pane" %>

## <a id="bosh-dns"></a> Step 7: BOSH DNS Config Page

<%= partial '../common/bosh-dns-config'  %>

## <a id='syslog'></a> Step 8: Syslog Page

<%= partial "../common/syslog_bosh" %>

## <a id='resource-config'></a> Step 9: Resource Config Page

1. Select **Resource Config**.

    <%= image_tag("../common/images/azure/om-resource-config.png", :alt => "At the top of the image is the header 'Resource Config' with a horizontal line underneath. Below the line are six columns labeled, from left to right, 'Job', 'Instances', 'Persistent Disk Type', 'VM Type', 'Load Balancers', and 'Internet Connected'. Under 'Job' are rows labeled with the names of two VMs, 'Ops Manager Director' and 'Master Compilation Job'. Under 'Instances' are two dropdowns, with 'Automatic: 1' for Ops Manager Director and 'Automatic: 4' for Master Compilation Job selected. Under 'Persistent Disk Type' is one dropdown with 'Automatic: 50 GB' selected for Ops Manager Director and the word 'None' for Master Compilation Job. Under 'VM Type' are two dropdowns, with 'Automatic: Standard_DS2_v2 (cpu: 2, ram: ...' selected for Ops Manager Director and 'Automatic: Standard_F4s (cpu: 4, ram: 8 GB ...' selected for Master Compilation Job. Under 'Load Balancers' are two blank fields. Under 'Internet Connected' are two checkboxes. At the bottom of the image is a blue, rectangular button labeled 'Save'.") %>

1. Ensure that the **Internet Connected** checkboxes are deselected for all jobs.

1. Adjust any values as necessary for your deployment. Under the **Instances**, **Persistent Disk Type**, and **VM Type** fields, choose **Automatic** from the dropdown to allocate the recommended resources for the job. If the **Persistent Disk Type** field reads **None**, the job does not require persistent disk space.
    <p class="note"><strong>Note:</strong> Ops Manager requires a Director VM with at least 8&nbsp;GB memory.</p>
    <p class="note"><strong>Note:</strong> If you set a field to <strong>Automatic</strong> and the recommended resource allocation changes in a future version, Ops Manager automatically uses the updated recommended allocation.</p>
    <p class="note"><strong>Note:</strong> If you install PAS for Windows,
    provision your <strong>Master Compilation Job</strong> with at least 100&nbsp;GB of disk space.</p>

1. (Optional) For **Load Balancers**, enter your Azure application gateway name for each associated job. To create an application gateway, follow the procedures in [Configure an application gateway for SSL offload by using Azure Resource Manager](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-arm) from the Azure documentation. When you create the application gateway, associate the gateway's IP address with your system domain.
    <p class="note warning"><strong>WARNING:</strong> This feature is not recommended for production use. The Azure load balancer does not support an override port in the healthcheck configuration.</p>

1. Click **Save**.


## <a id="custom-vm-extensions"></a> Step 10: (Optional) Add Custom VM Extensions

<%= partial "../common/vm-extension-config"  %>

## <a id='complete-installation'></a> Step 11: Complete the BOSH Director Installation

1. Click **Review Pending Changes**, then **Apply Changes**. If a red ICMP error message appears and you have disabled ICMP, click **Ignore errors and start the install**.

1. BOSH Director installs. This may take a few moments. When the installation process successfully completes, the **Changes Applied** window appears.

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.


## <a id="next"></a> Next Steps

* (Optional) When Ops Manager finishes deploying, deploy BOSH Add-ons to your system. For more information, see [Deploying BOSH Add-Ons](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/add-ons.html).

* Install one or more PCF runtime environments to complete your installation. For more information, see [Installing Runtimes](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/runtimes.html) 
