---
title: Jump Upgrading to Ops Manager v2.10
owner: Ops Manager
---

<%= vars.ops_manager %> v2.4 and later can now upgrade directly to <%= vars.ops_manager %> v2.10.

To upgrade to <%= vars.ops_manager %> v2.10, you must ensure that the products you have installed are also compatible with <%= vars.ops_manager %> v2.10 before performing the upgrade.

## <a id="prerequisites"></a> Prerequisites

Before you jump upgrade:

-   Foundations must be running <%= vars.ops_manager %> v2.4 or later.

-   The target upgrade version of <%= vars.ops_manager %> must be v2.10.2 or later.

-   All product tiles must list compatibility with the target version of <%= vars.ops_manager %>. For more information on creating an upgrade path for your product tiles, see the [Upgrade Planner](https://upgrade-planner.pivotal.io/).

-   You have no staged changes to any product tile or service instance.

-   If you are using vSphere with NSX-T, you must be running NSX-T v2.3 or later. NSX-T thats compatible with their current OpsManager version and Ops Manager 2.10.

-   You are running Trusty stemcell 3541 or higher.



## <a id="jump-upgrade"></a> Jump Upgrade

After you have verified everything in the Eligibility section, you can upgrade <%= vars.ops_manager %> to v2.10.2 and later by following the steps here.

Step Upgrading <%= vars.ops_manager %> Docs that talks about upgrading <%= vars.ops_manager %> and TAS together: [Upgrading <%= vars.ops_manager %>](https://docs.pivotal.io/platform/2-10/customizing/upgrading-pcf.html)

## <a id="after-jump-upgrade"></a> After You Jump Upgrade

After you jump upgrade:

-   There are several breaking API changes. Direct API automation used with their older version might need minor updates. See the consolidated breaking changes and known issues for a complete list.

-   Credhub-based BOSH Certificates, included certificate authorities (CAs), for Maestro-compatible products are now rotated with Maestro. For more information, see an introduction to Maestro.

-   Products that are not Maestro-compatible can still be used with OpsManager v2.10, but their certificate authorities cannot be rotated and will eventually expire.

## <a id="breaking-changes"></a> Consolidated Breaking Changes and Known Issues

See the following table for consolidated breaking changes and known issues:

<table>
	<tr>
		<th>Issue</th>
		<th>Impact</th>
		<th>Versions Affected</th>
	</tr>
	<tr>
		<td><%= vars.ops_manager %> Release Artifacts Renamed on Tanzu Network. See [release note](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/breaking-changes.html#rename)</td>
		<td>Might break any automation. If you use automation scripts or other tools to access release artifacts, you may need to update them to match the new filename scheme.</td>
		<td>v2.4</td>
	</tr>
	<tr>
		<td><%= vars.ops_manager %> should hardcode allow_legacy_agents to false</td>
		<td>The BOSH Director cannot manage older stemcells. Customers who are on <%= vars.ops_manager %> v2.4 should be running newer stemcells before they jump upgrade to v2.10.</td>
		<td>v2.4</td>
	</tr>
	<tr>
		<td>Passwords Not Supported for <%= vars.ops_manager %> VM on vSphere. See [release note](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#ssh-private-key).</td>
		<td></td>
		<td>v2.5</td>
	</tr>
	<tr>
		<td>Stemcell Property for Diagnostic Report API Endpoint is Removed. See [release note](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#diagnostic-report-stemcell).</td>
		<td>Breaking API change.</td>
		<td>v2.4 - 2.5</td>
	</tr>
	<tr>
		<td>Stemcell Version Key for Pending Changes is Moved and Renamed. See [release note](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#stemcell-version-key).</td>
		<td>Breaking API change.</td>
		<td>v2.4, v2.5</td>
	</tr>
	<tr>
		<td>AWS Deployments Use 5th Generation Instances. See [release note](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#5th-gen-instances).</td>
		<td>Customers on AWS Ops Manager 2.4 or 2.5 will notice that their VMs will upgrade to 5th generation.</td>
		<td>v2.4 - 2.5</td>
	</tr>
	<tr>
		<td>Stemcell Assignments Endpoint Removed. See [release note](https://docs.pivotal.io/platform/2-7/release-notes/breaking-changes.html#renamed-stemcell-endpoint).</td>
		<td>Breaking API change.</td>
		<td>v2.4 - v2.6</td>
	</tr>
	<tr>
		<td>BOSH CLI v1 Not Supported. See [release note](https://docs.pivotal.io/platform/2-7/release-notes/breaking-changes.html#bosh-cli-v1).</td>
		<td>Customers need to start using BOSH CLI v2.</td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td>Non-configurable properties nested under collections should not appear in the UI</td>
		<td>If customers have a tile that relies on being able to view and change a non-configurable property, then customers will not see those properties anymore.</td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td>Non-configurable properties within a collection / selector should not be configurable with API</td>
		<td>Breaking API change.</td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td>Update the resource configuration endpoints to nest nsx parameters under an `nsx` key</td>
		<td>Breaking API change.</td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td>Support NSX-T in the resource config API</td>
		<td>Breaking API change.</td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td><%= vars.ops_manager %> v2.9 Incompatible with vSphere Data Center NSX-T v2.2 and Earlier. See [release note](https://docs.pivotal.io/platform/2-9/release-notes/breaking-changes.html#nsx-t-2-2).</td>
		<td>They need to be on a NSX-T version that is compatible with both their current Ops Manager version and <%= vars.ops_manager %> 2.10.</td>
		<td>v2.4 - 2.8</td>
	</tr>
	<tr>
		<th colspan="4">Known Issues</th>
	</tr>
	<tr>
		<td>BPM Fails to Start Job Process. See [release note](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html#bpm).</td>
		<td></td>
		<td>v2.4</td>
	</tr>
	<tr>
		<td>Monit Inaccurately Reports Health of UAA. See [release note](https://docs.pivotal.io/platform/2-7/release-notes/opsmanager-rn.html#monit).</td>
		<td></td>
		<td>v2.4 - 2.6</td>
	</tr>
	<tr>
		<td>CredHub Database Migration Failure. See [release note](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html#credhub-db-migration-failure).</td>
		<td></td>
		<td>v2.4 - 2.5</td>
	</tr>
	<tr>
		<td>BOSH VMs Report Unresponsive Agent After Activating New Root CA. See [release note](https://docs.pivotal.io/platform/2-9/release-notes/opsmanager-rn.html#unresponsive-agent).</td>
		<td></td>
		<td>v2.4 - 2.8</td>
	</tr>
	<tr>
		<td>Reset Manually Set Certificates in CredHub Before Rotating Certificates with the <%= vars.ops_manager %> API. See [release note](https://docs.pivotal.io/platform/2-9/release-notes/opsmanager-rn.html#credhub-generated-field).</td>
		<td>After upgrading to 2.10, customers need to set again their manually configured certificates in credhub, if there are any.</td>
		<td>v2.4 - 2.9</td>
	</tr>
	<tr>
		<td>Service TLS CA Rotation. See [release note](https://docs.pivotal.io/platform/2-9/release-notes/breaking-changes.html#maestro-services).</td>
		<td>This basically tells customers that not all tiles are compatible with Services TLS CA rotation and they should use Maestro directly to do it.</td>
		<td>v2.4 - 2.9</td>
	</tr>
</table>
