---
title: Ops Manager v2.10 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> v2.10.

Ops Manager v2.10 is the long-term supported (LTS) version of Ops Manager. For more information, see [Long-Term Support for Ops Manager v2.10](#lts). Starting with  v2.10.2, you can jump upgrade directly from previous versions of Ops Manager to the long-term support (LTS) version of Ops Manager. For more information, see <a href="https://docs.pivotal.io/ops-manager/2-10/jump-upgrades.html">Jump Upgrading to Ops Manager v2.10</a>.

For the feature highlights of this release,
read the blog post [VMware Tanzu Application Service 2.10 Adds New CLI, Eases Upgrades with More Flexible Control Plane](https://tanzu.vmware.com/content/blog/vmware-tanzu-application-service-2-10-adds-a-new-cli-and-eases-upgrades-with-a-more-flexible-control-plane)
or see [New Features in <%= vars.ops_manager %> v2.10](#major-features).

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases

### <a id="2-10-4"></a> v2.10.4

**Release Date:** December 10, 2020

- **[Feature]** BlobstoreVerifier has improved logging and error messaging. 
- **[Feature]** Operators can use the Ops Manager API to rotate certificates on Redis for Pivotal Platform v2.3 and later.
- **[Feature]** When you export a `installation.zip` file, a new `metadata.json` file includes timestamp, version, and product GUID.
- **[Bug Fix]** Ops Manager no longer publishes images to the `us-gov-east-1` region in AWS.


<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.4-build.137*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.94*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>271.2.0</td></tr><tr><td>BOSH DNS</td><td>1.27.0</td></tr><tr><td>Metrics Server</td><td>0.1.0</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.9.0</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.21</td></tr><tr><td>BPM</td><td>1.1.9</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.1*</td></tr><tr><td>BOSH CLI</td><td>6.4.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.9.0*</td></tr><tr><td>Telemetry</td><td>1.1.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-10-3"></a> v2.10.3

**Release Date:** November 18, 2020


- **[Feature]** A yellow banner in the Ops Manager UI shows the number of days until a certificate expires. The banner appears when a certificate expires soon.
- **[Feature]** When you export a `installation.zip` file, a new `metadata.json` file includes timestamp, version, and product GUID. The `metadata.json` file can be used to identify when the export was created, which foundation the export represents, and to ensure that you are using the correct export file during an upgrade.
- **[Feature]** API endpoints default to `application/json` content type
- **[Feature]**: You can use the Ops Manager UI or API to set Azure Generation 2 VMs as the default VM type. For more information, see [Azure Generation 2 VM Types](azure/config-manual.html#azure-vm-types) in _Configuring BOSH Director on Azure Manually_.<br><br>
Consider the following before using Azure Generation 2 VM types:
  * If you use Availability Sets, you cannot use Generation 2 VM types.
  * Ensure that Generation 2 VM types are available in your Azure regions.
  * Switching to Generation 2 VM types causes all tiles to re-deploy.
  * If you have custom VM types set, your custom VMs are still used even if you switch to Generation 2. To use Generation 2 VMs in your custom VM types:
      1. Back up your current custom VM types.
      1. Delete the custom VM types.
      1. Switch to Generation 2 using either the Ops Manager API or UI.
      1. Re-add your custom VM types.
      For information about adding or deleting custom VM types, see [How to Create or Remove a custom VM_TYPE template in Pivotal Cloud Foundry (PCF) using the Operations Manager API](https://community.pivotal.io/s/article/how-to-create-or-remove-custom-vmtype-template-using-the-ops-manager-api?language=en_US) in the Knowledge Base.
- **[Feature]** You can use IAM instance profiles when configuring the S3 blobstore for the BOSH Director. To use this feature, you must select **Enable signed URLs**.
- **[Feature]** Upgrade NGINX
- **[Bug Fix]** Repeated calls to `DELETE /api/v0/installation_asset_collection` deletes any deployed products
- **[Bug Fix]** Safety check for BOSH product certificates on `DELETE` only includes the `system_metrics_certificate`
- **[Bug Fix]** Clusters in an AZ are validated based on cluster name, resource pool, host group, and VM host affinity rule
- **[Bug Fix]** The AZ and Network configuration pane does not error when properties are missing


<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.3-build.127*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.90*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>271.2.0</td></tr><tr><td>BOSH DNS</td><td>1.27.0*</td></tr><tr><td>Metrics Server</td><td>0.1.0</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.9.0</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.21*</td></tr><tr><td>BPM</td><td>1.1.9</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.4.1*</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.8.1*</td></tr><tr><td>Telemetry</td><td>1.1.2*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-10-2"></a> v2.10.2

**Release Date:** September 25, 2020

- **[Bug Fix]**: `IaasConfigurationVerifier` no longer fails on Azure deployments with a `500` error when you click **Apply Changes** or modify IaaS settings.

- **[Bug Fix]**: Actions that require Instance Metadata Service (IMDS), such as configuring antivirus or adding SSH keys,
no longer fail on Ops Manager instances deployed in AWS regions that do not have Instance Metadata Service Version 2 (IMDSv2).

- **[Bug Fix]**: If you added or activated a CA on Ops Manager v2.7 or earlier,
you can then activate or delete that CA after upgrading to Ops Manager v2.9 or later as expected.

- **[Bug Fix]**: The **Settings** page no longer crashes when you attempt to save a long LDAP admin group name that contains spaces. The following error message is associated with this bug: `NoMethodError: undefined method `<' for nil:NilClass`.

- **[Bug Fix]**: On the **Certificates** page, the **Excluded Certificates** section is updated to correctly list all certificates that the Ops Manager API does not attempt to rotate.

- **[Bug Fix]**: The `/api/v0/certificate_authorities/active/regenerate` API endpoint rotates all leaf certificates as expected when a CA certificate rotation is in progress.

- **[Feature]**: You can use the Ops Manager API to rotate certificates managed by CredHub if you have the following versions of
Pivotal Application Service (PAS), Pivotal Isolation Segment tile, Small Footprint PAS, or Pivotal Application Service for Windows (PASW) installed:
  * PAS v2.7.21 or later
  * PAS v2.8.2 or later
  * Pivotal Isolation Segment tile v2.7.21 or later
  * Pivotal Isolation Segment tile v2.8.2 or later
  * Small Footprint PAS v2.7.21 or later
  * Small Footprint PAS v2.8.2 or later
  * PASW v2.7.17 or later
  * PASW v2.8.2 or later

    For more information, see [Overview of Certificate Rotation](https://docs.pivotal.io/ops-manager/2-10/security/pcf-infrastructure/api-cert-rotation.html).

- **[Feature]**: IPsec for VMware Tanzu certificates are excluded from certificate rotation with the Ops Manager API.
To rotate IPsec certificates, see [Rotating Active IPsec Certificates
](https://docs.pivotal.io/addon-ipsec/1-9/credentials.html) in the IPsec for VMware Tanzu documentation.

- **[Feature]**: Ops Manager is rebranded to VMware Tanzu Operations Manager. This rebrand is reflected in the VMware Tanzu Operations Manager UI and on VMware Tanzu Network.

- **[Feature]**: You can use the `/api/v0/staged/products/{product_guid}/overrides` Ops Manager API endpoint to edit the `update` and `features` sections in the manifest for an Ops Manager tile while you are in Advanced Mode.
For more information, see [Provide a new list of overrides for the given Product](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in the Ops Manager API documentation.

- **[Feature]**: You can jump upgrade directly to the long-term support (LTS) version of Ops Manager, which is v2.10.2. For more information, see [Jump Upgrading to Ops Manager v2.10](https://docs.pivotal.io/ops-manager/2-10/jump-upgrades.html).

Ops Manager v2.10.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.2-build.90*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.84*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>271.2.0</td></tr><tr><td>BOSH DNS</td><td>1.24.0</td></tr><tr><td>Metrics Server</td><td>0.1.0</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.9.0*</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.9</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.4.0*</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.8.0*</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>


### <a id="2-10-1"></a> v2.10.1

**Release Date:** September 1, 2020

- **[Feature]**: If you click the **Support** link in the Ops Manager UI, information about expired certificates appears in the Platform Information Bundle.
- **[Bug Fix]**: The `regenerate` API endpoint does not exclude any leaf certificates from rotation.
- **[Bug Fix]**: Ops Manager does not crash after you change the LDAP authentication group.
- **[Bug Fix]**: The Support Bundle downloads successfully for deploy records that do not have timestamps.
- **[Bug Fix]**: TKGi users can deploy Ops Manager v2.10 with the BOSH metrics server feature enabled.
- **[Bug Fix]**: The **Revert Changes** button does not appear when there are no pending changes.
- **[Bug Fix]**: If you have a tile that is not configured and you apply changes, you receive a warning message but changes to other configured tiles are applied. In earlier patches, the apply changes failed. This only happened on vSphere environments.
- **[Bug Fix]**: For Redis for VMware Tanzu v2.4 and later, certificates can be rotated by CredHub Maestro.
- **[Bug Fix]**: When the **Enable additional System Metrics** checkbox is cleared on the tile UI, the `loggr-system-metrics-agent` and `loggr-system-metrics-agent-windows` jobs of the `system-metrics` release are removed from the product tile.
- **[Bug Fix]**: For the `hm_emailer_options.recipients` key, the `PUT /api/v0/staged/director/properties` endpoint accepts the format used by `GET /api/v0/staged/director/properties` endpoint for this key in addition to the existing format accepted.


Ops Manager v2.10.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.10.1-build.69*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.82*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>271.2.0*</td></tr><tr><td>BOSH DNS</td><td>1.24.0*</td></tr><tr><td>Metrics Server</td><td>0.1.0*</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.8.0</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.9*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.0*</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0*</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-10-0"></a> v2.10.0

**Release Date:** July 31, 2020

* See [New Features in <%= vars.ops_manager %> v2.10](#major-features).
* See [Breaking Changes in <%= vars.ops_manager %> v2.10](#breaking-changes).

<%= vars.ops_manager %> v2.10.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.10.0-build.48</td>
  </tr>
  <tr><td>Stemcell</td><td>621.77</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.8.0</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>

  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> v2.10, see [Upgrading <%= vars.platform_name %>](./install/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> v2.10

<%= vars.ops_manager %> v2.10 includes the following major features:

### <a id='lts'></a> Long-Term Support for Ops Manager v2.10

Ops Manager v2.10 is the long-term supported (LTS) version of Ops Manager. Ops Manager v2.10 will be supported through April 2024.

Over the lifecycle of Ops Manager v2.10, VMware will release security patches that occasionally include feature enhancements and maintenance updates.

The migration period for upgrading to Ops Manager v2.10 is from August 2020 to March 2021. To accommodate this migration and provide customers with additional time to upgrade to Ops Manager v2.10, Ops Manager v2.7 will be supported through March 31, 2021.

For more information about Ops Manager v2.10 LTS, please reach out to your Account Team.

### <a id="bosh-overrides"></a> BOSH Director Manifest Overrides

In Ops Manager v2.10, you can use the `/api/v0/staged/director/overrides`
Ops Manager API endpoint to override properties in the BOSH Director manifest.
With this endpoint, you can only override properties that appear
in the instance groups and networks sections of the manifest.

You must be in Advanced Mode to use this feature.

For more information about this feature,
see [Overriding Manifest Properties in Advanced Mode](https://docs.pivotal.io/platform/ops-manager/2-10/overriding-properties-advanced.html).

For information on the Ops Manager API endpoints related to this feature, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in Ops Manager API Documentation.

### <a id="runtime-config-overrides"></a> Override Runtime Config Properties

In Ops Manager v2.10, you can override the runtime config properties for BOSH DNS and System Metrics.

You must be in Advanced Mode to use this feature.

You use the `/api/v0/staged/director/runtime_configs/overrides` endpoint in the runtime configs
to override properties:

<table>
  <tr>
    <th>Runtime Config Names</th>
    <th>Add-on Names</th>
  </tr>
  <tr>
    <td><code>ops_manager_dns_runtime</code></td>
    <td><ul>
      <li><code>bosh_dns</code></li>
      <li><code>bosh_dns_windows</code></li>
    </ul></td>
  </tr>
  <tr>
    <td><code>ops_manager_system_metrics_runtime</code></td>
    <td><ul>
      <li><code>system_metrics_agent</code></li>
      <li><code>system_metrics_agent_windows</code></li>
    </ul></td>
  </tr>
</table>

For example, although you cannot change the log level for the BOSH DNS logs through the Ops Manager UI,
you can change the log level using the <code>/api/v0/staged/director/runtime_configs/overrides</code> endpoint.
Increase the log level to `DEBUG` for more information
or decrease the level for less verbose logs.

For more information, see:

+ [Overriding Manifest Properties in Advanced Mode](https://docs.pivotal.io/platform/ops-manager/2-10/overriding-properties-advanced.html).
+ [BOSH DNS job spec](https://github.com/cloudfoundry/bosh-dns-release/blob/master/jobs/bosh-dns/spec) in GitHub
+ [Provide a new list of runtime config overrides for the BOSH
Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1runtime_configs~1overrides/get)

### <a id='certs-om-ui'></a> View Certificates in the Ops Manager UI

The Ops Manager UI introduces a new page called **Certificates**. This page displays all the certificates listed by the `/api/v0/deployed/certificates` endpoint, as well as the following details:

* **Certificate name:** The name of the certificate.
* **Product GUID:** The product for which the certificate is issued, such as BOSH or MySQL.
* **Location:** Whether the certificate is stored in Ops Manager or CredHub.
* **Type:** Whether the certificate is a leaf certificate or a certificate authority (CA).
* **Configurable:** Whether the certificate is configurable.
* **Valid until:** The expiration date of the certificate and the number of days before expiration.

For more information, see [Using the Ops Manager Interface](pcf-interface.html).

### <a id='safety-checks'></a> CredHub Maestro Runs Safety Checks During Certificate Rotation

CredHub Maestro v8.0, which is included in Ops Manager v2.10, performs basic safety checks when rotating certificates to prevent unsafe operations.

The Ops Manager API invokes the CredHub Maestro CLI when rotating certificates. If an Ops Manager API certificate rotation command is out-of-order or unsafe, CredHub Maestro stops the command and returns one or more safety violation errors.

To observe this feature in Ops Manager v2.10 certificate rotation API calls, you must have <%= vars.app_runtime_full_pivotal %> (<%= vars.app_runtime_abbr_pivotal %>) v2.8.2 and later or <%= vars.app_runtime_abbr %> v2.9 and later installed, and you must not have any version of <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) installed. If you are using an earlier version of <%= vars.app_runtime_abbr_pivotal %> or have any version of <%= vars.k8s_runtime_abbr %> installed, Ops Manager still runs safety checks, but they are not as comprehensive as CredHub Maestro safety checks.

For more information, see [Troubleshooting CredHub Maestro Safety Violations During Certificate Rotation](security/pcf-infrastructure/troubleshoot-cert-errors.html), [Overview of Certificate Rotation](security/pcf-infrastructure/api-cert-rotation.html), and [Advanced Certificate Rotation with CredHub Maestro](security/pcf-infrastructure/advanced-certificate-rotation.html).


## <a id='breaking-changes'></a> Breaking Changes in <%= vars.ops_manager %> v2.10

<%= vars.ops_manager %> v2.10 includes the following breaking changes:

### <a id='credhub-regenerate'></a> CredHub Maestro Removes the "update-transitional latest" Command

Ops Manager v2.10 includes CredHub Maestro v8.0.
In this version of CredHub Maestro, the `maestro update-transitional latest` command is removed.

If you have scripts that rely on the `maestro update-transitional latest` command,
remove references to the command before you upgrade to Ops Manager v2.10.

In CredHub Maestro v8.0, you run `maestro regenerate ca` to regenerate a certificate authority (CA) and mark the latest version of the CA as transitional.
This command performs both actions, while previous versions of CredHub Maestro use a separate command for each task.

For information about rotating CAs and certificates using CredHub Maestro, see [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/advanced-certificate-rotation.html).

### <a id='metrics-server-upgrade'></a> Metrics Server Configuration Causes BOSH Director Deployment to Fail During Upgrade

During an upgrade to Ops Manager v2.10, the BOSH Director deployment and
subsequent upgrade may fail due to the default enablement of the `metrics-server` job.

The cause of this upgrade failure is the presence of a tile, such as any version of Tanzu Kubernetes Grid Integrated Edition (TKGI), that is incompatible with Ops Manager v2.10 due to its default `metrics-server` enablement.

To work around this issue, see the [BOSH Director fails with non-running job during upgrade to Ops Manager 2.10](https://community.pivotal.io/s/article/OM-2-10-Bosh-Director-fails-to-deploy) Knowledge Base article.


## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> v2.10 includes the following known issue:

### <a id='metrics-server-upgrade'></a> Metrics Server Configuration Causes BOSH Director Deployment to Fail During Upgrade

During an upgrade to Ops Manager v2.10, the BOSH Director deployment and
subsequent upgrade may fail due to the default enablement of the `metrics-server` job.
An error similar to the following appears in the `metrics-server` logs.

```
Required property 'networks' was not specified in object ({"vm_extensions"=>[{"cloud_properties"=>{"vmx_options"=>{"disk.enableUUID"=>"1"}}, "name"=>"disk_enable_uuid"}, {"cloud_properties"=>{"upgrade_hw_version"=>true}, "name"=>"set_version_hardware"}]}) (Bosh::Director::ValidationMissingField)
```

The cause of this upgrade failure is the presence of a tile, such as any version of Tanzu Kubernetes Grid Integrated Edition (TKGI), that is incompatible with Ops Manager v2.10 due to its default `metrics-server` enablement.

To workaround this issue, see the [BOSH Director fails with non-running job during upgrade to Ops Manager 2.10](https://community.pivotal.io/s/article/OM-2-10-Bosh-Director-fails-to-deploy) Knowledge Base article.

This issue is resolved in Ops Manager v2.10.1.

### <a id='increased-logging'></a> Increased Logging Slows Platform Functions

<%= partial "/pcf/ops-manager/increased_logging_ki" %>

### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub Before Rotating Certificates with the <%= vars.ops_manager %> API

<!--- If and when this KI is fixed, remove the cross-reference to it in security/pcf-infrastructure/advanced-certificate-rotation.html#prerequisites --->

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, you need to reset those certificates before using the <%= vars.ops_manager %> API to rotate CredHub certificates.

Resetting these certificates is not a required condition for the <%= vars.ops_manager %> v2.10 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](security/pcf-infrastructure/manual-credhub-certificate.html).

For more information about rotating certificates using the <%= vars.ops_manager %> API, see [Overview of Certificate Rotation](security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-10/opsman-api/#create-root-certificate-authorities) in the <%= vars.ops_manager %> API documentation.
