---
title: Ongoing Operations
owner: <%= vars.platform_name %> Documentation
---

This topic describes how to perform routine operations on a running <%= vars.platform_name %>.


## <a id='overview'></a> Overview

Ongoing operations are procedures that <%= vars.platform_name %> operators routinely perform to keep the platform working as it should, or to change how it works if the platform needs to do something new or has a problem.

Examples include:

* Performing <%= vars.platform_name %> upgrades
* Making changes to your IaaS and external components
* Monitoring platform health, checking logs, and generating usage reports
* Tuning the platform to eliminate bottlenecks or increase capacity
* Giving developers access to new software services, stacks, and app capabilities
* Backing up and restoring the platform

In addition to these tasks, <%= vars.platform_name %> operators also routinely perform Day 2 configurations to configure or change platform features and integrations even well past Day 2. For more information, see [Day 2 Configurations](https://docs.pivotal.io/platform/customizing/day2.html).


## <a id='contents'></a> Contents

### <a id='upgrading'></a> Upgrading

* [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/customizing/upgrading-pcf.html)

* [Upgrading <%= vars.app_runtime_abbr %> and Other <%= vars.platform_name %> Products](https://docs.pivotal.io/platform/customizing/upgrading-products.html)

* [cf push Availability During <%= vars.app_runtime_abbr %> Upgrades](https://docs.pivotal.io/platform/customizing/cfpush-availability-during-upgrade.html)

* [Upgrading <%= vars.ops_manager %> on Azure](https://docs.pivotal.io/platform/customizing/azure-om-upgrade.html)

* [Upgrading <%= vars.ops_manager %> on GCP](https://docs.pivotal.io/platform/customizing/gcp-om-upgrade.html)

* [Upgrade Load Example&#58; Pivotal Web Services](https://docs.pivotal.io/application-service/operating/pws_upgrade_load.html)

### <a id='changes'></a> IaaS Changes

* [Migrating <%= vars.platform_name %> to a New Datastore in vSphere](https://docs.pivotal.io/platform/refarch/vsphere/vsphere_migrate_datastore.html)

* [Upgrading vSphere without <%= vars.platform_name %> Downtime](https://docs.pivotal.io/platform/refarch/vsphere/vsphere_upgrade.html)

* [Deleting <%= vars.platform_name %> on AWS](https://docs.pivotal.io/platform/customizing/deleting-aws-install.html)

* [Deleting <%= vars.platform_name %> on Azure](https://docs.pivotal.io/platform/customizing/deleting-azure-install.html)

* [Deleting <%= vars.platform_name %> on GCP](https://docs.pivotal.io/platform/customizing/deleting-gcp-install.html)

### <a id='monitoring'></a> Monitoring, Logging, and Reporting

* [Logs and Metrics Sources](https://docs.pivotal.io/platform/loggregator/data-sources.html)

* [Monitoring <%= vars.platform_name %>](https://docs.pivotal.io/platform/monitoring/index.html)

	* [Key Performance Indicators](https://docs.pivotal.io/platform/monitoring/kpi.html)

	* [Key Capacity Scaling Indicators](https://docs.pivotal.io/platform/monitoring/key-cap-scaling.html)

	* [Selecting and Configuring a Monitoring System](https://docs.pivotal.io/platform/monitoring/metrics.html)

* [Loggregator Architecture](https://docs.pivotal.io/platform/loggregator/architecture.html)

* [Loggregator Guide for <%= vars.app_runtime_abbr %> Operators](https://docs.pivotal.io/platform/loggregator/log-ops-guide.html)

* [Security Event Logging](https://docs.pivotal.io/platform/loggregator/cc-uaa-logging.html)

* [Reporting Instance Usage with Apps Manager](https://docs.pivotal.io/application-service/operating/accounting-report-apps-man.html)

* [Reporting App, Task, and Service Instance Usage](https://docs.pivotal.io/application-service/operating/accounting-report.html)

* [Monitoring VMs in <%= vars.platform_name %>](https://docs.pivotal.io/platform/customizing/monitoring.html)

* [Monitoring VMs in vSphere](https://docs.pivotal.io/platform/customizing/monitoring-vsphere.html)

### <a id='tuning'></a> Platform Tuning

* [Scaling <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/application-service/operating/scaling-ert-components.html)

* [Managing Internal Databases](https://docs.pivotal.io/application-service/operating/internal-databases.html)

* [Gorouter Back End Keep-Alive Connections](https://docs.pivotal.io/platform/adminguide/routing-keepalive.html)

* [High Availability in <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/platform/concepts/high-availability.html)

### <a id='devs'></a> Enabling Developers

* [Adding and Deleting Products](https://docs.pivotal.io/platform/customizing/add-delete.html)

* [Managing Isolation Segments](https://docs.pivotal.io/platform/adminguide/isolation-segments.html)

* [Routing for Isolation Segments](https://docs.pivotal.io/platform/adminguide/routing-is.html)

* [Enabling Volume Services](https://docs.pivotal.io/application-service/operating/enable-vol-services.html)

* [Configuring Container-to-Container Networking](https://docs.pivotal.io/platform/devguide/deploy-apps/cf-networking.html)

* [Switching App Domains](https://docs.pivotal.io/application-service/operating/switching-domains.html)

### <a id='backups'></a> Backing Up

* [Disaster Recovery](https://docs.pivotal.io/platform/customizing/backup-restore/disaster-recovery.html)

* [Backing Up and Restoring Deployments](https://docs.pivotal.io/platform/customizing/backup-restore/index.html)

* [Backing Up Deployments with BBR](https://docs.pivotal.io/platform/customizing/backup-restore/backup-pcf-bbr.html)

* [<%= vars.app_runtime_abbr %> Component Availability During Backup](https://docs.pivotal.io/platform/customizing/backup-restore/component-backups.html)

* [Restoring Deployments from Backup with BBR](https://docs.pivotal.io/platform/customizing/backup-restore/restore-pcf-bbr.html)

* [Stopping and Starting Virtual Machines](https://docs.pivotal.io/platform/adminguide/start-stop-vms.html)

* [Troubleshooting BBR](https://docs.pivotal.io/platform/customizing/backup-restore/troubleshooting-bbr.html)

* [BOSH Backup and Restore (Open-Source Documentation)](http://docs.cloudfoundry.org/bbr/index.html)

### <a id='security'></a> Security

* [Retrieving Credentials from Your Deployment](https://docs.pivotal.io/platform/customizing/credentials.html)

* [Restricting App Access to Internal <%= vars.platform_name %> Components](https://docs.pivotal.io/application-service/operating//app-sec-groups.html)

* [Providing a Certificate for Your TLS Termination Point](https://docs.pivotal.io/application-service/operating//security_config.html)

* [Rotating Certificates](security/pcf-infrastructure/api-cert-rotation.html)

* [Rotating Runtime CredHub Encryption Keys](https://docs.pivotal.io/application-service/operating//credential-rotation.html)
