---
title: Deploying Ops Manager on vSphere
owner: Ops Manager
---

This topic provides instructions for deploying <%= vars.ops_manager %> to VMware
vSphere.

The instructions in this topic are based on vSphere 6.5 using the vSphere Client (HTML5) interface.

## <a id="pas_and_pks"></a> Runtime Considerations

For security purposes, VMware requires a dedicated instance of <%= vars.ops_manager %> for use with <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>).

<p class="note warning"><strong>Warning:</strong> If you are installing <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T
integration, follow the instructions in
<a href="https://docs.pivotal.io/pks/vsphere-nsxt-om-deploy.html">Deploying <%= vars.ops_manager %> with NSX-T for <%= vars.k8s_runtime_abbr %></a> instead of performing the steps described in this topic.</p>

## <a id="prepare-vsphere"></a> Prepare vSphere

1. Log into vCenter using the vSphere Client (HTML5).

1. Select the vSphere Datacenter where you are deploying <%= vars.ops_manager %>.

1. Create one or more vSphere clusters. A vSphere cluster is a collection of ESXi hosts and associated virtual machines (VMs) with shared resources and a shared management interface. Follow the steps below to create a vSphere cluster:
    <p class="note"><b>Note: </b> For highly available, production-ready environments, you
    must create more than one cluster. For more information, see <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_ref_arch.html#high-availability">Compute and HA Considerations</a> and
    <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_ref_arch.html#scaling">Scaling and Capacity Management</a> in _vSphere Reference Architecture_.</p>
    1. Right-click the vSphere Datacenter object.

    1. Select **New Cluster**.

    1. Name the Cluster. For example, `Cluster1`.

    1. Select **Turn ON vSphere DRS** to enable DRS. Set DRS Automation to **Partially Automated**
      or **Full Automated**.

    1. Select **Turn ON vSphere HA** to enable vSphere HA.

1. If you created more than one vSphere cluster, configure shared storage for the clusters. You can allocate shared storage to the clusters using one of two common approaches: horizontal or vertical. For more information about configuring shared storage for clusters, see [Storage Design](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_ref_arch.html#storage) in _vSphere Reference Architecture_.
  <p class="note warning"><b>Warning:</b> Failure to properly configure shared storage for vSphere clusters could result in downtime and unrecoverable loss of data.</p>

1. Create a resource pool for the management components in your deployment. Resource pools are
vSphere objects used to organize resources.
    <p class="note"><strong>Note:</strong> The management resource pool separates non-HA components
    such as BOSH Director. For example, if you deploy <%= vars.ops_manager %> for use with <%= vars.k8s_runtime_abbr %>,
    the <%= vars.k8s_runtime_abbr %> management plane includes <%= vars.ops_manager %>, BOSH Director, the <%= vars.k8s_runtime_abbr %> control plane, and
    Harbor (optional).</p>

    Follow the steps below to create a vSphere resource pool:
    1. Right-click the vSphere cluster object that you created.

    1. Select **New Resource Pool**.

    1. Name the resource pool. For example, `RP-MGMT`.

    1. Review the default CPU and Memory settings and adjust if necessary. This is not common.

    1. Click **OK**.

1. (Optional) If desired, create host groups within the clusters. For information about using host groups in vSphere, see [Host Groups in vSphere](host-groups.html).

    1. Select the **Cluster** where you want to create a host group.
    
    1. Select the **Configure** tab.
  
    1. Under **Configuration**, select **VM/Host Groups**.

    1. Click **Add** and configure the host group as follows:
        - Name: Enter a name for the host group.
        - Type: Select **Host Group** from the drop down.
        - Click **Add** and select the ESXi host(s) to include in the host group. 
        - Click **OK**.

## <a id="deploy"></a> Deploy <%= vars.ops_manager %>

<%= vars.ops_manager %> for vSphere is provided as an OVA file. An OVA file is a template for a VM. To deploy <%= vars.ops_manager %> on vSphere, you import the OVA file into your vSphere environment.

1. Download the [<%= vars.ops_manager %> for vSphere](https://network.pivotal.io/products/ops-manager) OVA file from [VMware Tanzu Network](https://network.pivotal.io). Use the **Releases** dropdown menu to select an <%= vars.ops_manager %> release.

1. Right-click the management resource pool that you created and select **Deploy OVF Template**. Alternatively, from the vCenter menu, select **Actions** > **Deploy OVF Template**.

1. At the **Select an OVF template** screen, click **Browse**.

1. Select the <%= vars.ops_manager %> OVA file that you downloaded and click **Open**.

1. Review template selection and click **Next**.

1. At the **Select a name and folder** screen:
    * Enter a name for the <%= vars.ops_manager %> virtual machine, or use the default name.
    * Select the **Datacenter** object.
    * Click **Next**.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-01.png") %>

1. At the **Select a compute resource** screen, select the compute resource where the <%= vars.ops_manager %> VM will run and click **Next**. Select the Resource Pool for the management components.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-10.png") %>

    <p class="note"><strong>Note</strong>: Hardware virtualization must be turned off if your
    vSphere host does not support VT-X/EPT. Refer to <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/vsphere.html#vsphere-reqs">vSphere Requirements</a> in <em><%= vars.platform_name %> on vSphere Requirements</em> for more information.</p>

1. At the **Review Details** screen, confirm the configuration up to this point and click **Next**.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-03.png") %>

1. At the **Select Storage** screen, select the virtual disk format.
    1. Choose a Datastore.
        * If you use vSAN, select the vSAN datastore and apply the default storage policy.
        * If you use a dedicated disk, select the appropriate disk format for your deployment needs. If in doubt, choose **Thin Provision**. For more information about disk formats, see [vSphere Virtual Disk Types](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/disk-format.html).
    1. Click **Next**.

    <p class="note warning"><strong>Warning</strong>: <%= vars.ops_manager %> requires a VM with at least 8&nbsp;GB memory.</p>

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-04.png") %>

1. At the **Select Networks** screen, either select the default **VM Network** or ideally create an **Infrastructure** Network, and click **Next**.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-12.png") %>

1. At the **Customize template** screen, enter the following information, and click **Next**.
   * **IP Address**: The IP address of the <%= vars.ops_manager %> network interface. For example, `10.0.0.2`.
   * **Netmask**: The network mask for <%= vars.ops_manager %>. For example, `255.255.255.0`.
   * **Default Gateway**: The default gateway for <%= vars.ops_manager %> to use. For example, `10.0.0.1`.
   * **DNS**: One or more DNS servers for the <%= vars.ops_manager %> VM to use. For example, `10.20.20.1`.
   * **NTP Servers**: The IP address of one or more NTP servers for <%= vars.ops_manager %>. For example, `10.113.60.176`.
   * **Public SSH Key**: Enter pre-existing public SSH key value to allow SSH access to the <%= vars.ops_manager %> VM. Enter the full key in the `ssh-rsa AAA...` format.
      <p class="note warning"><strong>Warning</strong>: You cannot deploy <%= vars.ops_manager %> successfully without adding a public key. If you do not add a key, <%= vars.ops_manager %> shuts down automatically because it cannot find a key and may enter a reboot loop.</p>
   * **Custom hostname**: The hostname for the <%= vars.ops_manager %> VM. For example, `ops-manager`.
    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-06.png") %>

1. At the **Ready to complete** screen, review the configuration settings and click **Finish**.

    This action begins the OVA import and deployment process.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-08.png") %>

1. Use the **Recent Tasks** panel at the bottom of the vCenter dashboard to check the progress of the OVA import and deployment.
   <br/><br/>
   If the import or deployment is unsuccessful, check the configuration for errors. Fix any errors and restart the deployment process.

## <a id="deploy"></a> Start <%= vars.ops_manager %>

1. Create a DNS entry for the IP address that you used for <%= vars.ops_manager %>. You must use this fully qualified domain name when you log into <%= vars.ops_manager %>.

    <p class="note"><strong>Note</strong>: <%= vars.ops_manager %> security features require you to create a fully qualified domain name to access <%= vars.ops_manager %> during the initial configuration. For more information, see <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/vsphere.html"><%= vars.platform_name %> on vSphere Requirements</a>.</p>

1. Select the <%= vars.ops_manager %> VM and click **Actions** > **Power** > **Power On**.

    Once the VM boots, the <%= vars.ops_manager %> web interface is available at the IP address that you specified.

    <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start.</p>

1. Navigate to the fully qualified domain of your <%= vars.ops_manager %> in a web browser.
  <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start.</p>

## <a id="next-steps"></a> Next Steps

After you complete this procedure, follow the instructions in [Configuring BOSH Director on vSphere](config.html).
