---
title: Deploying BOSH and Ops Manager to vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic provides instructions for deploying Pivotal Cloud Foundry (PCF) Ops Manager to VMware vSphere.

<p class="note"><strong>Note</strong>: The instructions in this topic are based on vSphere 6.5 using the vSphere Client (HTML5) interface.</p>

<p class="note warning"><strong>WARNING:</strong> If you are installing Pivotal Container Service (PKS)
on vSphere with NSX-T integration, follow the instructions in
<a href="https://docs.pivotal.io/runtimes/pks/1-3/vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for PKS</a>
instead of performing the steps described in this topic.</p>

<p class="note"><strong>Note</strong>: For security purposes, VMware requires a dedicated instance of Ops Manager for use with PKS. Do not deploy Pivotal Application Service (PAS) on the same instance of Ops Manager as PKS. For more information, see <a href="https://docs.pivotal.io/runtimes/pks/pas-and-pks.html">PAS and PKS Deployments with Ops Manager</a>.</p>

## <a id="deploy"></a> Prepare vSphere

1. Log into vCenter using the vSphere Client (HTML5).

1. Select the vSphere Datacenter where you are deploying Ops Manager.

1. Create a vSphere cluster. A vSphere cluster is a collection of ESXi hosts and associated virtual machines (VMs) with shared resources and a shared management interface.<br/><br/>
	 To create a vSphere cluster for PKS:
    1. Right-click the vSphere Datacenter object.
    1. Select **New Cluster**.
    1. Name the Cluster.
    1. Turn ON DRS.
    1. Turn ON vSphere HA.

1. Create a resource pool. Resource pools are vSphere objects used to organize resources. 
    <p class="note"><strong>Note:</strong> If you are deploying Ops Manager for use with PKS, it is recommended that you create a resource pool for the PKS Management Plane, which includes Ops Manager, BOSH Director, the PKS control plane, and Harbor (optional). Refer to the PKS documentation for details.</p>
    
    To create a vSphere resource pool:
    1. Right-click the vSphere cluster object you created.
    1. Select **New Resource Pool**.
    1. Name the resource pool.
    1. Review the default CPU and Memory settings and adjust if necessary (not common).
    1. Click **OK**.

## <a id="deploy"></a> Deploy Ops Manager

  Ops Manager for vSphere is provided as an OVA file. An OVA file is a template for a virtual machine (VM). To deploy Ops Manager on vSphere, you import the OVA file into your vSphere environment.

1. Download the [Pivotal Cloud Foundry Operations Manager for vSphere](https://network.pivotal.io/products/ops-manager) OVA file from [Pivotal Network](https://network.pivotal.io). Use the **Releases** dropdown menu to select the supported Ops Manager release.

1. Right-click the resource pool you created and select **Deploy OVF Template**. Alternatively, from the vCenter menu, select **Actions** > **Deploy OVF Template**.

1. At the **Select an OVF template** screen, click **Browse**.

1. Select the Ops Manager OVA file you downloaded and click **Open**.

1. Review template selection and click **Next**.

1. At the **Select a name and folder** screen: 
    * Enter a name for the Ops Manager virtual machine, or use the default name.
    * Select the **Datacenter** object.
    * Click **Next**.
    
    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-01.png") %>

1. At the **Select a compute resource** screen, select the compute resource where the Ops Manager VM will run and click **Next**.
    If you are using PKS, select the Resource Pool for the PKS Management Plane components.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-02.png") %>

    <p class="note"><strong>Note</strong>: Hardware virtualization must be turned off if your vSphere host does not support VT-X/EPT. Refer to the <a href="https://docs.pivotal.io/pivotalcf/2-3/customizing/vsphere.html#vsphere-reqs">Installing Pivotal Cloud Foundry on vSphere</a> topic for more information.</p>

1. At the **Review Details** screen, confirm the configuration up to this point and click **Next**.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-03.png") %>

1. At the **Select Storage** screen, select the virtual disk format. For information about disk formats, see [vSphere Virtual Disk Types](https://docs.pivotal.io/pivotalcf/customizing/disk-format.html) in the Pivotal Cloud Foundry (PCF) documentation.
    1. Select **Thin Provision**.
    1. Choose the desired Datastore. 
        * If you are using vSAN, select the vSAN datastore. 
        * If you are using a dedicated disk, select **Thin Provision**. 
    1. Click **Next**. 

    <p class="note warning"><strong>Warning</strong>: Ops Manager requires a VM with at least 8&nbsp;GB memory.</p>

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-04.png") %>

1. At the **Select Networks** screen, select the standard **VM Network**, and click **Next**.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-05.png") %>

1. At the **Customize template** screen, enter the following information, and click **Next**.
   * **IP Address**: The IP address of the Ops Manager network interface. For example, `10.0.0.2`.
   * **Netmask**: The network mask for Ops Manager. For example, `255.255.255.0`.
   * **Default Gateway**: The default gateway for Ops Manager to use. For example, `10.0.0.1`.
   * **DNS**: One or more DNS servers for the Ops Manager VM to use. For example, `10.20.20.1`.
   * **NTP Servers**: The IP address of one or more NTP servers for Ops Manager. For example, `10.113.60.176`.
   * **Admin Password**: A default password for the `ubuntu` user. If you do not enter a password, Ops Manager will not boot.
   * **Public SSH Key**: (Optional) Enter pre-existing public SSH key value to allow SSH access to the Ops Manager VM.
   * **Custom hostname**: The hostname for the Ops Manager VM. For example, `ops-manager`.
    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-06.png") %>
    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-07.png") %>

    <p class="note"><strong>Note</strong>: You must specify a default password, an SSH key, or both. If you do not have either of these fields configured, Ops Manager will not boot up.</p>

1. At the **Ready to complete** screen, review the configuration settings and click **Finish**.

	This action begins the OVA import and deployment process.

    <%= image_tag("../common/images/vsphere/vsphere_om-deploy-08.png") %>

1. Use the **Recent Tasks** panel at the bottom of the vCenter dashboard to check the progress of the OVA import and deployment. 
   <br/><br/>
   If the import or deployment is unsuccessful, check the configuration for errors. Fix any errors and redo the deploment process.

## <a id="deploy"></a> Start Ops Manager

1. Create a DNS entry for the IP address that you used for Ops Manager. 

	You must use this fully qualified domain name when you log into Ops Manager.

    <p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager during the <a href="https://docs.pivotal.io/pivotalcf/2-3/customizing/vsphere.html#paas">initial configuration.</a></p>

1. Select the Ops Manager VM and click **Actions** > **Power** > **Power On**. 

	Once the VM boots, the Ops Manager web interface is available at the IP address you specified.

    <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>

1. Navigate to the fully qualified domain of your Ops Manager in a web browser.
  <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>

## <a id="set-up"></a> Set Up Ops Manager Authentication

1. When Ops Manager starts for the first time, you must choose one of the following:
    * [Internal Authentication](#internal): If you use Internal Authentication, PCF maintains your user database.
    * [SAML Identity Provider](#saml): If you use a SAML Identity Provider (IdP), an external identity server maintains your user database.
    * [LDAP Server](#ldap): If you use a LDAP Server, an external identity server maintains your user database.

    <%= image_tag("../common/images/select-authentication.png") %>

### <a id='internal'></a> Internal Authentication

1. Select **Internal Authentication** and provide the following information:
   * **Username**, **Password**, and **Password confirmation** to create an Admin user.
   * **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
   * **HTTP proxy** or **HTTPS proxy**, follow the instructions in [Configuring Proxy Settings for the BOSH CPI](https://docs.pivotal.io/pivotalcf/customizing/pcf-director-proxy-settings.html).
   * Read the **End User License Agreement**, and select the checkbox to accept the terms.
   * Click **Setup Authentication**. It will take a few minutes to initialize the database.

   <%= image_tag("../common/images/vsphere/vsphere_om-deploy-09.png") %>

1. Log in to Ops Manager with the user name and password you created.

    <%= image_tag("../common/images/om-login.png") %>
    <%= image_tag("../common/images/cf-login.png") %>

1. Verify success.

	You should be able to log in, and you should see the BOSH Director tile is present and ready for configuration, indicated by the orange color.

    <%= image_tag("../common/images/vsphere/vsphere_bosh-config-01.png") %>

### <a id='saml'></a> SAML Identity Provider

<%= partial '../common/using_saml_idp_ops_manager' %>

### <a id='ldap'></a> LDAP Server

<%= partial '../common/using_ldap_server_ops_manager' %>

## <a id="next-steps"></a> Next Steps

To configure the BOSH Director tile on vSphere, follow the instructions in [Configuring BOSH Director on vSphere](config.html).

[Return to the Installing Pivotal Cloud Foundry Guide](https://docs.pivotal.io/pivotalcf/2-5/installing/index.html)
