<%# OVERVIEW
This partial is the procedure for the **Director Config** pane in the BOSH Director. IaaS-specific information is separated with `if` statements.

PARTIAL REFERENCES
This partial is called in all IaaS-specific BOSH Director configuration topics.
%>

To configure the **Director Config** pane:

1. Select **Director Config**.

    <%= image_tag("../common/images/director-config.png", :width => "500", :alt => "At the top of the image is the header 'Director Config' with a horizonal line underneath. Below the line are three text fields labeled, from top to bottom, 'NTP Servers (comma delimited)', and 'Bosh HM Forwarder IP Address'. The NTP Servers (comma delimited) field has a red asterisk, to denote that it is a required field. Below these text fields are eight checkboxes. The first checkbox is labeled 'Enable VM Resurrector Plugin'. The second checkbox is labeled 'Enable deprecated BOSH System Metrics Server'. The third checkbox is labeled 'Enable additional System Metrics'. The fourth checkbox is labeled 'Enable Post Deploy Scripts'. The fifth checkbox is labeled 'Recreate VMs deployed by the BOSH Director', underneath which is the text 'This will force BOSH to recreate all Bosh Deployed VMs on the next deploy. Persistent disk will be preserved'. The sixth checkbox is labeled 'Recreate BOSH Director VM', underneath which is the text 'This will force BOSH to recreate the Bosh Director VM on the next deploy. Persistent disk will be preserved.' The seventh checkbox is labeled 'Recreate All Persistent Disks', underneath which is the text 'Checking this box will recreate all Persistent Disks for the Director and all other Tiles'. The eighth checkbox is labeled 'Enable bosh deploy retries', underneath which is the text 'This will attempt to re-deploy a failed deployment up to 5 times.'") %>

<%# **NTP Servers** field, differentiated by IaaS %>

<%# For OpenStack: %>
<% if current_page.data.iaas == "OpenStack" %>
1. Enter one or more NTP servers in the **NTP Servers (comma delimited)** field. For example, `us.pool.ntp.org`.


<%# For GCP: %>
<% elsif current_page.data.iaas == "GCP" %>
1. In the **NTP Servers (comma delimited)** field, enter `169.254.169.254` to designate the `metadata.google.internal` host as NTP server.


<%# For AWS: %>
<% elsif current_page.data.iaas == "AWS" %>
1. Enter at least two of the following NTP servers in the **NTP Servers (comma delimited)** field, separated by a comma: `0.amazon.pool.ntp.org,1.amazon.pool.ntp.org,2.amazon.pool.ntp.org,3.amazon.pool.ntp.org` If your AWS environment is air gapped, consider using [Amazon's Time Sync Service](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html#configure-amazon-time-service) which has a dedicated IP that does not require access to the internet or configuration changes to your security group or network ACL rules to access.

<%# For Azure: %>
<% elsif current_page.data.iaas == "Azure" %>
1. Any value you enter in the **NTP Servers (comma delimited)** field will be ignored.  However, you must enter a valid value in this field. Try `us.pool.ntp.org`. By default, Azure VMs use a Precision Time Protocol (PTP) clock source. More information about this clock source can be found [on this page](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync#overview).

<%# For other IaaSes such as vSphere: %>
<% else %>
1. In the **NTP Servers (comma delimited)** field:
    1. (Optional) If your AWS environment is air-gapped, consider using Amazon’s Time Sync Service, consider using [Amazon's Time Sync   Service](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html#configure-amazon-time-service) which has a dedicated IP that does not require access to the internet or configuration changes to your security group or network ACL rules to access.
    1. If you do not use Amazon’s Time Sync Service, enter at least two of the following NTP servers, separated by a comma:
    `0.amazon.pool.ntp.org,1.amazon.pool.ntp.org,2.amazon.pool.ntp.org,3.amazon.pool.ntp.org`
<% end %>
    1. The NTP server configuration only updates after VM recreation. If you modify the value of this field, select the Recreate VMs deployed by the BOSH Director checkbox to re-create your BOSH Director-deployed VMs and update the NTP server configuration. If you have any service tiles installed, ensure that the Recreate All Service Instances errand runs for each service tile.

1. Leave the **Bosh HM Forwarder IP Address** field blank.
    <p class="note"><strong>Note:</strong> Starting in <%= vars.app_runtime_full_pivotal %> (<%= vars.app_runtime_abbr_pivotal %>) v2.0, BOSH-reported component metrics are available in Loggregator Firehose by default. If you continue to use the BOSH HM Forwarder to consume these component metrics, you might receive duplicate data. To prevent this, leave the <strong>Bosh HM Forwarder IP Address</strong> field blank.</p>

1. Select the **Enable VM Resurrector Plugin** checkbox to enable the BOSH Resurrector functionality and increase your runtime availability. <% if current_page.data.iaas == "vSphere" %>If you intend to install <%= vars.app_runtime_abbr %>, see [Using the BOSH Resurrector](https://docs.pivotal.io/platform/customizing/resurrector.html) for more information about the Resurrector plugin.<% end %>

1. Keep the **Enable deprecated BOSH System Metrics Server** checkbox selected to collect basic metrics, including load, CPU, memory, swap, and disk metrics. View the output in the **Status** tab.

1.  For more detailed metrics, keep the **Enable additional System Metrics** checkbox selected.
If you do not need this level of detail, deselect the checkbox to reduce volume.
For a list of metrics collected, see [System Metrics Agent](https://github.com/cloudfoundry/system-metrics-release/blob/develop/docs/system-metrics-agent.md) in GitHub.
Increased logging could cause platform issues. For more information, see [Increased Logging Slows Platform Functions](../release-notes.html#increased-logging).

1. Select **Enable Post Deploy Scripts** to run a post-deploy script after deployment. This script allows the job to execute additional commands against a deployment.
    <p class="note"><strong>Note:</strong> If you intend to install <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>), you must enable post-deploy scripts.</p>

1. Select **Recreate VMs deployed by the BOSH Director** to force BOSH to re-create BOSH-deployed VMs on the next deploy.
   This process does not re-create the BOSH Director VM or destroy any persistent disk data.
   This checkbox is cleared automatically after Apply Changes succeeds.

1. Select **Recreate BOSH Director VMs** to force the BOSH Director VM to be re-created on the next deploy.
   This process does not destroy any persistent disk data.
   This checkbox is cleared automatically after Apply Changes succeeds.

1. Select **Recreate All Persistent Disks** to force BOSH to migrate and re-create persistent disks for the BOSH Director and all tiles.
   This process does not destroy any persistent disk data.
   This checkbox is cleared automatically after Apply Changes succeeds.

1. Select **Enable bosh deploy retries** to instruct <%= vars.ops_manager %> to retry failed BOSH operations up to five times.

1. Select **Skip Director Drain Lifecycle** to prevent drain scripts from running when the BOSH Director is re-created.

1. Select **Store BOSH Job Credentials on tmpfs (beta)** to store credentials for BOSH jobs on temporary file storage (tmpfs) memory, rather than on disk. You must re-create all BOSH-deployed VMs for this setting to take effect.

1. Select **Keep Unreachable Director VMs** to preserve BOSH Director VMs after a failed deployment for troubleshooting purposes.

1. Select **HM Pager Duty Plugin** to enable Health Monitor integration with PagerDuty.<br>
    <%= image_tag("../common/images/director_hm_pager.png", :alt => "At the top of the image is a selected checkbox labeled 'HM Pager Duty Plugin'. Below this checkbox are two text fields labeled, from top to bottom, 'Service Key' and 'HTTP Proxy'. The Service Key field has a red asterisk to denote that it is a required field, and contains the text 'YOUR-PAGERDUTY-SERVICE-KEY'. The HTTP Proxy field contains the text 'YOUR-HTTP-PROXY'.") %>
    * **Service Key**: Enter your API service key from PagerDuty.
    * **HTTP Proxy**: Enter an HTTP proxy for use with PagerDuty.

1. Select **HM Email Plugin** to enable Health Monitor integration with email.

    <%= image_tag("../common/images/director_hm_email.png", :alt => "At the top of the image is a selected checkbox labeled 'HM Email Plugin'. Below this checkbox are seven text fields labeled, from top to bottom, 'Host', 'Port', 'Domain', 'From', 'Recipients', 'Username', and 'Password'. The Host field has a red asterisk and contains the text 'smtp.example.com'. The Port field has a red asterisk and contains the text '25'. The Domain field has a red asterisk and contains the text 'cloudfoundry.example.com'. The From field has a red asterisk and contains the text 'user2@example.com'. The Recipients field has a red asterisk and contains the text 'user@example.com, user1@example.com'. The Username field contains the text 'user'. The Password field contains eight asterisks. ") %>
    * **Host**: Enter your email hostname.
    * **Port**: Enter your email port number.
    * **Domain**: Enter your domain.
    * **From**: Enter the address for the sender.
    * **Recipients**: Enter comma-separated addresses of intended recipients.
    * **Username**: Enter the username for your email server.
    * **Password**: Enter the password for your email server.
    * **Enable TLS**: Select this checkbox to enable Transport Layer Security to the email host.
1. <%= partial "../common/credhub-encryption" %>

1. <%= partial "../common/blobstore-location" %>

1. <%= partial "../common/director-database-location" %>

1. (Optional) Modify the **Director Workers** value, which sets the number of workers available to execute BOSH Director tasks. This field defaults to `5`.

1. (Optional) **Max Threads** sets the maximum number of threads that the BOSH Director can run simultaneously. <%= vars.company_name %> recommends that you leave the field blank to use the default value, unless doing so results in rate limiting or errors on your IaaS.

1. (Optional) To add a custom URL for your BOSH Director, enter a valid hostname in **Director Hostname**. You can also use this field to configure a load balancer in front of your BOSH Director. For more information, see [How to Set Up a Load Balancer in Front of Operations Manager Director](https://community.pivotal.io/s/article/How-to-Set-Up-a-Load-Balancer-in-Front-of-Ops-Manager-Director) in the VMware Tanzu Support knowledge base.

    <%= image_tag("../common/images/director_workers.png", :alt => "Three text fields labeled 'Director Workers', 'Max Threads', and 'Director Hostname'. The Director Workers field contains the text '5'. The Director Hostname field contains the text 'opsdirector.example.com'.") %>

1. (Optional) To set a custom banner that users see when logging in to the BOSH Director using SSH, enter text in the **Custom SSH Banner** field.

1. <%= partial "../common/identification-tags" %>

1. Click **Save**.
