<%# This Security Pane partial is conditionalized between the 
"Setting Trusted Certificates" topic (trusted-certificates.html) 
and IaaS-specific Ops Manager configuration topics. %>

<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Navigate to the BOSH Director tile from the Ops Manager Installation Dashboard.
<% end %>

1. Select **Security**.
	<% if current_page.data.title == "Setting Trusted Certificates" %>
    <% else %>
    <%= image_tag("../common/images/om-security.png", :alt => "At the top of the image is the header 'Security' with a horizontal line underneath. Below the line is a text area labeled 'Trusted Certificates', below which is the text 'These certificates enable BOSH-deployed components to trust a custom root certificate.' Below this text is a selected checkbox labeled 'Include OpsManager Root CA in Trusted Certs', underneath which is the text 'Checking this box will place the OpsManager Root CA into the trusted certificate field. The Bosh Director will then place this CA into the trust store of every VM that it deploys.' Below this text are the words 'Generate VM passwords or use single password for all VMs', below which are two options: one selected radio button labeled 'Generate passwords', and one radio button labeled 'Use default BOSH password'. At the bottom of the image is a blue, rectangular button labeled 'Save'.") %>
    <% end %>

1. In **Trusted Certificates**, enter your custom certificate authority (CA) certificates to insert into your organization's certificate trust chain. This feature enables all BOSH-deployed components in your deployment to trust custom root certificates.
  <br><br>To enter multiple certificates, paste your certificates one after the other. For example, format your certificates like the example below:
  <pre>-----BEGIN CERTIFICATE-----
ABCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678AB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
BCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
CDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABBB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------</pre>
  <p class="note"><strong>Note:</strong> If you want to use Docker registries to run <%= vars.app_runtime_abbr %> app instances in Docker containers, enter the certificate for your private Docker registry in this field. For more information about running app instances in <%= vars.app_runtime_abbr %> using Docker registries, see <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.','-') %>/opsguide/docker-registry.html">Using Docker Registries</a>.</p>

1. To include the <%= vars.ops_manager %> root CA in the **Trusted Certificates** field, select the **Include OpsManager Root CA in Trusted Certs** checkbox. BOSH Director includes this CA in the trust store of every VM that it deploys.
  <p class="note warning"><strong>Warning:</strong> If you are using Ops Manager to generate certificates for either a load balancer or router, then you must select this checkbox.</p>

<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Click **Save**.
<% else %>
1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security.

1. Click **Save**. To view your saved BOSH Director password, click the **Credentials** tab.
<% end %>
