---
title: Adding and Deleting Products
owner: Ops Manager
---

This topic describes adding and deleting additional products from your <%= vars.platform_name %>
installation, such as [VMware Tanzu™ RabbitMQ® for VMs](https://network.pivotal.io/products/p-rabbitmq).

<p class="note"><strong>Note:</strong> In <%= vars.ops_manager %>, all product tiles use floating
  stemcells by default. This increases the security of your deployment by enabling tiles to
  automatically use the latest patched version of a stemcell, but it may significantly increase
  the amount of time required by a tile upgrade. For more information, see
  <a href="understanding-stemcells.html">Floating Stemcells</a>.</p>


## <a id="add-import"></a> Add and Import Products

To add or import a product to your <%= vars.platform_name %> installation:

1. Download products from [<%= vars.product_network %>] (https://network.pivotal.io). If you
cannot download products from <%= vars.product_network %> due to restricted network connectivity,
see [Installing <%= vars.platform_name %> in Air-Gapped Environments](offline_installation.html).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and log in.

1. Click **Import a Product**.

1. Select the `.pivotal` file that you downloaded from <%= vars.product_network %> or received
from your software distributor, then click **Open**. If the product is successfully added,
it appears in the product list beneath the **Import a Product** button. If the product that
you selected is not the latest version, the most up-to-date version appears in your product
list.

1. Add the product tile to the <%= vars.ops_manager %> Installation Dashboard by clicking the
green **+** icon in the bottom-right corner of the product listing.

1. The product tile appears in the <%= vars.ops_manager %> Installation Dashboard. If the product
requires configuration, the bar at the bottom of the tile appears orange. If necessary, configure
the product.

    <%= image_tag("new-orange-tile.png", :alt => "Screenshot of the Installation Dashboard.
    The page has two sections: 'VMware BOSH Director for vSphere' and 'Redis for Pivotal CF'.") %>

1. (Optional) In the product configuration view, select the **Errands** pane to configure
post-install errands or review the default settings. Post-install errands are scripts that
automatically run after a product installs, before <%= vars.ops_manager %> makes the product
available for use. For more information about post-install errands, see [Errands]
(http://docs.pivotal.io/tiledev/<%= vars.current_major_version.sub('.','-') %>/tile-errands.html)
in the <%= vars.platform_name %> Tile Developer Guide.
  <p class="note"><strong>Note:</strong> By default, <%= vars.ops_manager %> reruns errands
    even if they are not necessary due to settings left from a previous install. Leaving errands
    checked at all times can cause updates and other processes to take longer. To prevent an
    errand from running, disable the checkbox for the errand in the <strong>Errands</strong>
    pane of the <strong>Settings</strong> tab in the product tile before installing the product.</p>

    <%= image_tag("example-errand.png", :alt => "Screenshot of the Errands pane of the Settings
    tab in the Installation Dashboard. The page is titled 'Redis for Pivotal CF'.") %>

    The **Broker Registrar** checkbox is an example of an errand available for a product. When
    you enable this checkbox, this errand registers service brokers with the Cloud Controller
    and updates any broker URL and credential values that have changed since the previous registration.

1. Click **Review Pending Changes**.

1. Click **Apply Changes** to start installation and run post-install lifecycle errands for
the product.


## <a id='pivnet-api'></a> Using the <%= vars.product_network %> API to Upgrade Products

Instead of manually downloading each new version of the products in your <%= vars.platform_name %>
installation, you can upgrade your products by connecting your <%= vars.ops_manager %> Installation
Dashboard with <%= vars.product_network %> using a API token. Once you have uploaded a product,
all subsequent product upgrades appear automatically in the <%= vars.ops_manager %> Installation
Dashboard.

<p class="note"><strong>Note:</strong> You can only use the <%= vars.product_network %> API
  if you have access to the Internet, since communication between <%= vars.ops_manager %> and
  <%= vars.product_network %> is necessary to import your products. If you are on an isolated
  network, do not save your API token.</p>

### <a id='update-with-api'></a> Connect the <%= vars.ops_manager %> Installation Dashboard with <%= vars.product_network %>

To connect the <%= vars.ops_manager %> Installation Dashboard with <%= vars.product_network %>:

1. Log in to [<%= vars.product_network %>](https://network.pivotal.io).

1. Click your username, located in the upper top right side of the page.

1. From the dropdown, click **Edit Profile**.

1. Copy the **Legacy API Token**.

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and log in.

1. Click your username, located in the upper top right side of the page.

1. From the dropdown, click **Settings**.

1. Select **External API Access**.

1. In the **Set API token** field, paste the **Legacy API Token** you copied from <%= vars.product_network %>.

1. Click **Save**.

### <a id='update-products'></a> Update Existing Products

After you save the <%= vars.product_network %> API token to the <%= vars.ops_manager %> Installation
Dashboard, the latest versions of your existing products appear in the <%= vars.ops_manager %>
Installation Dashboard.

To upgrade an existing product to the latest version:

1. In the product list located on the left side of the <%= vars.ops_manager %> Installation
Dashboard, locate the product you want to upgrade.

1. In the bottom-right corner of the product listing, click the green download icon.

1. When the download is complete, refresh the page to use the product.

1. If necessary, configure the product.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.


## <a id='apply-changes'></a> Apply Changes to the BOSH Director

You can use the <%= vars.ops_manager %> API or the **Review Pending Changes** page in the
<%= vars.ops_manager %> Installation Dashboard to apply pending changes only to the BOSH Director
when you stage multiple products in a new <%= vars.platform_name %> installation or as part
of an upgrade.

For more information, see [Reviewing Pending Product Changes](review-pending-changes.html).


## <a id='del-prod'></a> Delete Products

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/2-10/delete-product" %>
