---
title: Installing Pivotal Platform on Azure Manually
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on Azure Manually" %>

This topic explains how to install <%= vars.platform_name %> on Microsoft Azure manually.

To install <%= vars.platform_name %> on Azure manually, do the following:

1. Deploy Pivotal Operations Manager. See [Deploying Ops Manager on Azure Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.','-') %>/azure/deploy-manual.html).

1. Configure BOSH Director. See [Configuring BOSH Director on Azure Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.','-') %>/azure/config-manual.html).

## <a id="next"></a> Next Steps

After completing the procedures above, configure a runtime.

For information about installing and configuring a runtime, see the following:

* [Configuring <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.','-') %>/operating/configure-pas.html).
* [Installing <%= vars.k8s_runtime_abbr %> on Azure](https://docs.pivotal.io/tkgi/1-9/installing-cli.html).
* [Installing and Configuring TAS for VMs on Windows](https://docs.pivotal.io/application-service-windows/2-7/installing.html)
* [Installing Small Footprint TAS for VMs](https://docs.pivotal.io/application-service/2-7/operating/small-footprint.html#install)
